<% provide(:title, @vendor.name)%>
<h1>
	<%= @vendor.name %>
</h1>
<div>
	<h4><%= @vendor.description %></h4>
	<%= render "address"%>
	<%= link_to @vendor.url, @vendor.url, target: "_blank" %>
</div><br>
<div>
	<%= render "favorites/form_favorite"%>
	<%= link_to "  Write a Review  ", new_vendor_review_path(@vendor), class: "btn btn-small btn btn-success" %> 
</div>
<h4>Reviews</h4>
<ul class="users">
	<%= render @reviews %>
</ul>
